.bod {
  background-color: #fcede3;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fcede3;
  padding: 40px 20px;
  gap: 30px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

.contact-container .contact-item {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  flex: 1 1 250px;
}

.contact-container .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.contact-container .circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #fcede3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.contact-container .yellow {
  background-color: #fbc963;
}

.contact-container .red {
  background-color: #d85567;
}

.contact-container .green {
  background-color: #287b5e;
}

.contact-container h3 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #1d1b2e;
}

.contact-container p {
  margin: 5px 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #53566f;
}




/* ContactForm.css */
.form-container {
  background-color: #fcede3;
  padding: 40px 20px;
}

.form-container h2 {
  font-family: 'Playfair Display', serif;
  color: #1d1b2e;
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

input, textarea {
  flex: 1 1 100%;
  padding: 15px;
  border: 1px solid #e0dcd6;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #53566f;
  background-color: #fcede3;
}

.form-row input {
  flex: 1 1 calc(50% - 10px);
}

textarea {
  min-height: 150px;
  resize: vertical;
}

.sb_btn {
  width: 100%;
  padding: 15px 24px;
  font-size: larger;
  margin-top: 25px;
  background-color: #ed1c24;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}
